<app-page-header [content]="pageContent.header"></app-page-header>
<div class="col-12 col-md-8">
    <div class="form-group row">
        <div class="col-12">
            <button type="button" routerLink="/newpolicy" class="btn btn-primary float-right" style="margin-left:15px">Add policy</button>
            <button type="button" class="btn btn-default float-right" (click)="cancel()">Cancel</button>
            <div class='col-md-2'>Filter by:</div>
            <div class='col-md-4'>
                <input type='text' [(ngModel)]='listFilter' />
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-6'>
            <h3>Filtered by: {{listFilter}} </h3>
        </div>
    </div>
    <div class="card" *ngFor="let policy of filteredPolicies">
        <div class="card-block">
            <h4>
                <a routerLink="/policies/{{policy._id}}">{{ policy.title }}</a>
                <small>&nbsp;</small>
            </h4>
            <p class="createdBy">Created By: {{ policy.createdBy }}</p>
            <p class="createdOn">Created On: {{ policy.createdOn | date : 'd MMMM yyyy' }}</p>
            <p class="policyText" [innerHTML]="policy.policyText | htmlLineBreaks"></p>            
        </div>
    </div>
</div>
<app-sidebar class="col-12 col-md-4" [content]="pageContent.sidebar"></app-sidebar>
