<nav class="navbar fixed-top navbar-toggleable-md navbar-inverse">
    <div class="container">
      <button type="button" data-toggle="collapse" data-target="#navbarMain" class="navbar-toggler navbar-toggler-right">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a routerLink="" class="navbar-brand">SupportApp</a>
      <div id="navbarMain" class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" routerLinkActive="active">
            <a routerLink="about" class="nav-link">About</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a routerLink="profile" class="nav-link">My Profile</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a routerLink="phone" class="nav-link">Availability</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a routerLink="phonestates" class="nav-link">States</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a routerLink="policies" class="nav-link">Policies</a>
          </li>
        </ul>
        <ul class="navbar-nav navbar-right">
          <li>
            <a *ngIf="!authService.isAuthenticated()" routerLink="login" class="nav-link">Login</a>            
            <a *ngIf="authService.isAuthenticated()" routerLink="login" class="nav-link">Logout</a>            
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <app-alert></app-alert>
    <router-outlet></router-outlet>
    <footer>
      <div class="row">
        <div class="col-12"><small>&copy; Owen Barford 2018</small></div>
      </div>
    </footer>
  </div>