extends layout

include _includes/sharedHTMLfunctions

block content
  .row.banner
    .col-12
      h1 Owen Barford
  .row
    .col-12.col-lg-9
      .row
        .col-12.col-md-6
          p.rating
          p Croner House, 145 London Road, Kingston upon Thames, KT2 6SR
          .card.card-primary
            .card-block
              h2.card-title Working Hours
              p.card-text Monday - Friday : 08:30 - 16:30
              p.card-text Saturday: not working
              p.card-text Sunday: not working
          .card.card-primary
            .card-block
              h2.card-title Products  
              p.card-text CCH Central suite                    
              p.card-text CCH Practice Management
              p.card-text CCH KPI Monitoring
    .col-12.col-lg-3
      p.lead Senior Technical Advisor
      p Looks after all technical areas within the support team environment