doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar.fixed-top.navbar-toggleable-md.navbar-inverse
      .container
        button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarMain')
          span.navbar-toggler-icon
        a.navbar-brand(href='/ ') SupportApp
        #navbarMain.navbar-collapse.collapse
          ul.navbar-nav.mr-auto
            li.nav-item
              a.nav-link(href='/about/') About 
    .container
      block content
      footer
        .row
          .col-12
            small &copy; WKUK Support Team (Owen Barford) 2018
    script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js')
    script(src='/javascripts/bootstrap.min.js')

    block scripts
      script(src='/build/inline.318b50c57b4eba3d437b.bundle.js')
      script(src='/build/polyfills.bf95165a1d5098766b92.bundle.js')
      script(src='/build/styles.ac89bfdd6de82636b768.bundle.js')
      script(src='/build/main.4b2fe33fa047d9e99b80.bundle.js')





