<div class="row">   
  <div class="form-group row">
    <button type="button" routerLink="/newagent" class="btn btn-primary float-right" style="margin-left:15px">Add agent</button>
    <button type="button" routerLink="/editagent/{{agent._id}}" class="btn btn-primary float-right" style="margin-left:15px">Edit agent</button>
    <button type="button" class="btn btn-primary float-right" style="margin-left:15px" (click)="deleteAgent()">Delete agent</button>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-6">     
    <p>{{ agent.address }}</p>     
    <div class="card card-primary">       
      <div class="card-block"> 
          <h2 class="card-title">Working Hours</h2>         
          <p class="card-text" *ngFor="let time of agent.workingTimes" [ngSwitch]="time.end">
            {{ time.days }} :
            <span *ngSwitchCase="true">closed</span>
            <span *ngSwitchDefault>{{ time.start + " - " + time.end }}</span>
          </p>
        </div>     
      </div>
      <div class="card card-primary">
        <div class="card-block">         
          <h2 class="card-title">Products</h2>         
          <span *ngFor="let product of agent.products" class="badge badge-warning"> 
            <i class="fa fa-check"></i>
            {{product}}
          </span>               
        </div>     
      </div>   
    </div>
</div>  