<div class="row">
  <div class="col-12">     
      <div class="form-group row">
          <div class="col-12">
            <button type="button" routerLink="/newpolicy" class="btn btn-primary float-right" style="margin-left:15px">Add policy</button>
            <button type="button" routerLink="/editpolicy/{{policy._id}}" class="btn btn-primary float-right" style="margin-left:15px">Edit policy</button>
            <button type="button" class="btn btn-primary float-right" style="margin-left:15px" (click)="deletePolicy()">Delete policy</button>
          </div>
      </div>
      <div class="card card-primary review-card">       
        <h2 class="card-title">{{ policy.title }}</h2>
          <div class="col-12 no-gutters review-header">
            <span class="policyAuthor">{{ policy.createdBy }} on </span>
            <small class="policyTimestamp">{{ policy.createdOn | date : 'd MMMM yyyy' }}</small>
          </div>           
          <div class="col-12">             
            <p [innerHTML]="policy.policyText | htmlLineBreaks"></p>
          </div>
      </div>
  </div>
</div>
